body{
    font-family: 'Mulish', sans-serif;
    margin: 0px;
}
section{
    display: flex;
}
div{
    display: block;
}
.half-width{
    width: 50%;
    padding: 7%;
}
.head{
    font-family: sans-serif;
    font-size: 30px;
    color: rgb(49, 55, 61);
}
.head02{
    text-align: justify;
}



.header{
    overflow: hidden;
    background-image: url(images/front-view-chicken-soup-with-chicken-greens-inside-dark-blue-background-soup-meat-food-dinner-chicken.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 5%;
    padding-bottom: 5%;
}
.top{
    padding-left: 65%;
}
.linktop{
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    font-size: 17px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    color: black;
    background-color: white;
    border-radius: 15px;
    transition: .2s ease-out;
    object-position: right;
}
.linktop:hover{
    background-color: crimson;
    color: white;
}



.sec1{
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5%;
}
.skip{
    color: crimson;
}
.order{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(rgb(241, 71, 59),crimson );
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 15px;
}
.order:hover{
    background-image: linear-gradient(rgb(255, 80, 80), rgb(240, 45, 45));
}
.img1st{
    width: 125%;
    padding: 5px;
    transition: .5s ease-out;
}
.img1st:hover{
    transform: scale(1.1);
}



.sec2{
    background-image: url(images/shapes/Frame\ 59.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5%;
}
.img2nd{
    width: 50%;
    padding: 5px;
    transition: .5s ease-out;
}
.img2nd:hover{
    transform: scale(1.1);
}



.sec3{
    margin-top: 50px;
    text-align: center;
}



.sec04{
    margin: 60px;
}
.width{
    width:33.33%;
    padding: 2%;
    margin: 30px;
    box-shadow: 5px 5px 20px rgb(34, 33, 33);
    border-radius: 20px;
    background-color: rgb(228, 228, 228);
    transition: .4s ease-out;
}
.width:hover{
    background-color: white;
    transform: scale(1.2);
}
.recipieimg{
    width: 100%;
    border-radius: 20px;
}



.sec05{
    margin: 60px;
    box-shadow: 5px 5px 20px rgb(34, 33, 33);
    border-radius: 20px;
    background-color: whitesmoke;
}
.width-last{
    width:33.33%;
    padding: 2%;
    text-align: center;
}



footer{
    background-color: rgb(24, 24, 26);
    padding: 5%;
    text-align: center;
    color: white;
}
.food{
    color: coral;
}